body
{
background-image:url('/static/images/background.jpg');

}

.char2{
     transform: all rotate(36deg);
 -moz-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  -o-transform: rotate(36deg);


}

div.title {



    font: bold 70px 'arial', arial, helvetica, sans-serif;
    margin: 0;
    letter-spacing: 30px;
    text-shadow: 1px 0 0 #ccc,
                         2px 0 0 ,
                         0 1px 0 ,
                         3px 1px 0 ,
                         0 0 10px ,
                         5px 0 10px ,
                         10px -3px 10px ;
}


.create-btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 12px 30px;
	background: -moz-linear-gradient(
		top,
		#f7ff19 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f7ff19),
		to(#ab0000));
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	border: 0px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.btn-editor{
    height:30px;
    border-radius: 11px;
    background-color: #F2FF42;
}

.btn-editor-del{
    height:30px;
    border-radius: 11px;
    background-color: #FF704D;
}

table { margin: 1em; border-style: double;	border-color: black; bolder: 2px; font-size:16px;font: bold}
td, th { padding: .3em;border-style: double;	border-color: black;bolder: 2px; width:210px;}
thead { background: #fc9; }


.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 11px 11px 11px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 11px 0 11px 11px; /* Отступы вокруг картинки */
   }

div.delete {padding: 2em; border: 10px dashed #000;
    position: absolute;
    top: -250px;
    left: 50%;
    z-index: 200;

  background: red url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACACAMAAAD9J/PGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdQTFRF/Pz8zc3N2traz8/P0NDR0tLS0NDQ9fX1+Pj4//7/9PT04uLi6Ojo39/fzs3NzMzM/f7+3Nzc9fb26uvq6urp4ODh9/f44+Pj+vn519fX29zb19bX1tXV6Onp5OPk2dnY+/r79vX1+vv7+vr6+Pn4+fr6/////v7+0dHR09PT/fz80tPS0dHS/Pv78vPzzs7P/v39zs7O7/Dv/f393t7d8vLx3+Dg2drZ8PDw8fHw5+bn2dnZ7ezt7+/v5eXl5OTl+fn46+vr7u7u6urq1NTV1dXV4ODg2NnY7O3s19fY09TUz87P4eHh09PS9PP0zczM7u7t3Nzd8vLy29va8fHx5uXm5ubm7u7v5OTk1dXU19fW3Nvc5+fn+/v71tbV3d3dz87O7Ovs6Ofn3t7e9vf28/Pz4+Pi7Ozs8O/v9/f31NTT/P399vb3QCtbEwAAAKZJREFUeNokw9NSBQAUQNGV3c22bdu2bdf/P3em9potIWFf0p/8MKjfg20pIT2khg490kK3XZ22fLm0YlWNO1eqVdq0rt60ccnhWJVrhwrdG/EsL4xZU2pHTnhTrs6FeXNOnZly40luqFViWbFFj95tmHFgyblZH4ZMmHRi1JE+r/Zkh4zQqMiPF5/KZIYWCyq0atakwa1e/3X5NmxAQcjSHrf9CjAAht4XiD8Rf/EAAAAASUVORK5CYII=)
    no-repeat;
  -o-background-size: 100% 100%; -webkit-background-size: 100% 100%; -khtml-background-size: 100% 100%; background-size: 100% 100%;

  background: -moz-linear-gradient(top,#ccc,red);
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#FF6C17));
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#cccccc,endColorstr=red,GradientType=0); zoom: 1;
  background: linear-gradient(top,#ccc,red);

}
