<head></head>
<link href="/static/css/edite.css" rel="stylesheet" media="screen">
<title>{{user.first_name}} {{user.last_name}}</title>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
$(function(){
        var theDialog = $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '100',
            height:'800',
        });
});
</script>
<script>
    function SendPresent(){
         $("#dialog").dialog("open");
    }

    function Account(){
        document.location.href='/account';
    }
</script>
</head>
<body>
<div>
<img class="leftimg" src="{{url_img}}" width = "250px" height={{h}}/>

<h2 style="color:brown;">{{user.first_name}} {{user.last_name}} </h2>
<b>Home page: </b> <a href = "{{p.url}}">{{p.url}}</a><br />
<b><img src="/static/images/email.gif" style="position:relative; top: 2px;" width = "15px" height ="15px"/> E-mail: <span style="color:gold;"> <a href="mailto:{{user.email}}"></a>{{user.email}}</a></span></b>
<br />
<b>About:</b>
<div>{{p.about}}</div>
</div>
<div style="word-wrap:break-word;">{%for i in presents%}<img src="{{i.gift.gifts.url}}" width="45" height ="45" title="{{i.nameuser}}"  />&nbsp;&nbsp;{%endfor%}</div>
<br /><div>{{controls|safe}}</div>
<div style =" clear: both;" >
{% for i in L%}

<div {%if not i.active%}style="background:grey;"{%endif%}>
<div style="border-width:2px; font-size: 31px; font: bold; bolder-color: black" onclick="var a = document.createElement('a'); a.href='/playcast/{{i.id}}';a.target = '_blank';document.body.appendChild(a);a.click();">
{{i.title}}  {%if not i.active%} (no active){%endif%}<br />
<img src="/media/screen/{{i.id}}.jpg"><br /></div>
<div style = "font-size: 12px;">; date {{i.datetime}} last edition {{i.last}}</div>
</div>
</div>
<br />
{%endfor%}
</div>

 <div id="dialog" title="Send gift" style="position: absolute;right:2">
     <iframe id= "myframe" src="/sendgift/{{user.id}}/"  frameborder="no" width="100%" height="100%" align="left" >
 </div>
</body>