<div style="position: absolute; right : 7px; top: 7px; z-index: 99999;background-color: white;">

<a href="https://www.google.com/intl/en/chrome/browser/"  target="_blank"><img src="/static/images/chrome.jpg" width="32px" height ="32px"></a>
<a href="http://www.mozilla.org/en/firefox/new"  target="_blank"><img src="/static/images/firefox.jpg" width="32px" height ="32px"></a>
<a href="http://www.opera.com/en/computer/windows"  target="_blank"><img src="/static/images/opera.png" width="32px" height ="32px"></a>
<a href="http://support.apple.com/kb/dl1531"  target="_blank"><img src="/static/images/safari.png" width="32px" height ="32px"></a>
</div>