<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
<meta http-equiv="Content-Language" content="ru"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/edite.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="/static/css/edite.css" rel="stylesheet" media="screen">
<script src="/static/js/jscolor.js"></script>


 <script type="text/javascript" src="/static/js/NicEdit.js"></script> <script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() {
            myNicEditor = new nicEditor().panelInstance('my_text');
            myNicEditor2 = new nicEditor().panelInstance('text_edite_text');
            myNicEditor3 = new nicEditor().panelInstance('comments_text');
            });
  //]]>
  </script>
<script src="/static/js/edite.js"></script>
<script src="/myjs"></script>



<script>
$(function(){
        var theDialog = $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '1000',
            height:'700',
        });


            var theDialog2 = $("#dialog_text").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '800',
            height:'330',
        });

           var theDialog3 = $("#text_edite").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '800',
            height:'330',
        });


         var theDialog4 = $("#select_image").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '960',
            height:'380',
        });


          var theDialog5 = $("#upload_image").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '420',
            height:'290',
        });


  var theDialog6 = $("#select_music").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '960',
            height:'580',
        });


          var theDialog7 = $("#upload_music").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '560',
            height:'380',
        });


         var theDialog8 = $("#comments").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '560',
            height:'510',
        });

        var theDialog9 = $("#select_video").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '960',
            height:'580',
        });


        var theDialog10 = $("#matrix").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '610',
            height:'100',
        });
        $("#wait").hide();

});

</script>


</head>
<body>


Название: <input type="text" id="title" style= "width :1000px;" value="{{title}}"><br/>
url: <span id="music_url">{{tmurl}}</span>   название: <span id="music_title">{{tmtitle}}</span> автор: <span id="music_author">{{tmauthor}}</span> исполнитель: <span id="music_performer">{{tmperformer}}</span>
<br />
<button class="btn-editor"  style="position:relative; top: -2px;" onclick='$("#type_select_image").html(0);$("#list_img2")[0].src= $("#list_img2")[0].src;$("#dialog").dialog("open")'>Фон</button>
<button class="btn-editor" onclick='$("#type_select_image").html(1);$("#select_image").dialog("open")'><img src="/static/images/add-icon.png" width="17px" height = "17px" style="position:relative; top: 2px;" >Изображение</button>
<button class="btn-editor" onclick='$("#dialog_text").dialog("open")'><img src="/static/images/add-icon.png" width="17px" height = "17px" style="position:relative; top: 2px;" > Текст</button>
<button class="btn-editor" onclick='$("#select_music").dialog("open")'><img src="/static/images/add-icon.png" width="17px" height = "17px" style="position:relative; top: 2px;" > Музыка</button>
<button class="btn-editor" onclick='$("#select_video").dialog("open")'><img src="/static/images/add-icon.png" width="17px" height = "17px" style="position:relative; top: 2px;" > Видео</button>
<button class="btn-editor-del"  onclick='DeleteItem("");'><img src="/static/images/trash.png" width="17px" height = "17px" style="position:relative; top: 2px;" > Удалить</button>
<button class="btn-editor" onclick='Index(1);'><img src="/static/images/up.png" width="17px" height = "17px" style="position:relative; top: 2px;" ></button>
<button class="btn-editor" onclick='Index(-1);'><img src="/static/images/down.png" width="17px" height = "17px" style="position:relative; top: 2px;" ></button>
<button class="btn-editor" style="position:relative; top: -2px;" onclick='$("#comments").dialog("open")'>Комментарий</button>
<button class="btn-editor" onclick='Undo("")'><img src="/static/images/undo.png" width="17px" height = "17px" style="position:relative; top: 2px;" ></button>
<button class="btn-editor" style="position:relative; top: -2px;" onclick='Clone("")'>Скопировать</button>
<button class="btn-editor" onclick="Matrix1('');"  style="position:relative; top: -2px;">M</button>
<button class="btn-editor" onclick="Preview('');"><img src="/static/images/preview.png" width="17px" height = "17px" style="position:relative; top: 2px;" ></button>
<span id= "publisher_block">
<button class="btn-editor"  onclick = "Publisher('');"><img src="/static/images/save.png" width="17px" height = "17px" style="position:relative; top: 2px;" >  Сохранить </button>
<input type="checkbox" id="active" {{active}}>  Опубликовать
</span>

<span id="wait"><img src="/static/images/wait.gif" width="20" height="20"></span>

<div id = "myframe_conteiner" style="border: .1em solid black; width :{{twidth}}; height :{{theight}}">
 <iframe id= "myframe" src="/designer_body"  frameborder="no" width="100%" height="100%" align="left" >

 </iframe>
</div>

 <script>
 $('#myframe_conteiner')
    .resizable({
        stop: function(e, ui) {

            BodyF = $("#myframe")[0].contentDocument.getElementsByTagName('body')[0];
            BodyF.width = ui.size['width'];
            BodyF.height = ui.size['height'];
            }
    });
 </script>

 	<div id="type_select_image" style="visibility:hidden"></div>

 <div id="select_image" title="Выбрать изображение">
 <iframe  id="list_img" src="/select_image" width="950" height="280">

 </iframe>
  <button onclick='document.getElementById("upload2").contentDocument.location.reload(true);$("#upload_image").dialog("open");'>Загрузить</button>
 <button onclick='$("#select_image").dialog("close");'> Close</button>
 </div>

 <div id="upload_image" title="Загрузить изображение">
 <iframe  id="upload2" src="/upload_image" width="420" height="190">

 </iframe>
 <button style="font-size: 12px; position: relative; left:250px;" onclick='$("#upload_image").dialog("close");document.getElementById("list_img").contentDocument.location.reload(true);'>Закрыть</button>
 </div>



<div id="select_music" title="Выбрать музыку">
 <iframe  id="list_music" src="/select_music" width="1350" height="470">

 </iframe>
  <button onclick='$("#upload_music").dialog("open");'>Загрузить</button>
 <button onclick='$("#select_music").dialog("close");'>Закрыть</button>
 </div>

 <div id="upload_music" title="Загрузить MP3">
 <iframe  id="upload3" src="/upload_music" width="450" height="280">

 </iframe>
 <button style="font-size: 12px; position: relative; left:350px;" onclick="uploadmusicClose();">Закрыть</button>
 </div>

 <div id="matrix" title="Матрица (по умолчанию 1,0,0,1,0,0)">
 <span style="text-align: center;">
 <input id="m1" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;">
 <input id="m2" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;">
 <input id="m3" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;">
 <input id="m4" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;">
 <input id="m5" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;">
 <input id="m6" type="number" onchange="Matrix2('');" step="0.1" value="0.0000" style="width:80px;"></span>
 </div>

<div id="comments" title="Комментарий">
<textarea id="comments_text" style ="width: 450px; height: 300px;">{{tcomment}}</textarea>
 <button onclick='$("#comments").dialog("close");'>Закрыть</button>
</div>

 <div id="dialog" title="Выбрать фон">

<input id="selectedColor" class="color">
<button onclick="ColorBackground('')">OK</button>
<button onclick='$("#dialog").dialog("close");'>Закрыть</button>
<button onclick="DeleteBackgroundImage();">Без картинки</button>
<br/><br/><br/><br/><br/><br/><br/>или выбрать картинку:
<iframe  id="list_img2" src="/select_image" width="950" height="410"></iframe>
 </div>

<div id="select_video" title="Пожалуйста, введите URl">
Например: http://www.youtube.com/watch?v=nnnn</br>
<input type="text" id ="select_video_url" value ="" size ="50" ><br />
<button onclick="AddVideo('')">OK</button>
<button onclick='$("#select_video").dialog("close");'>Закрыть</button>
</div>

<div id="dialog_text" title="Добавить текст">

 <textarea id="my_text" style ="width: 650px; height: 100px;" >

</textarea><br />

<button onclick="AddText('')">OK</button>
<button onclick='$("#dialog_text").dialog("close");'>Закрыть</button>
 </div>


 <div id="text_edite" title="Редактировать текст">
 <div id="text_edite_id" style="visibility:hidden"></div>
 <textarea id="text_edite_text" style ="width: 650px; height: 100px;" >
</textarea><br />
<button onclick="EditeMyText('')">OK</button>
<button onclick='$("#text_edite").dialog("close");'>Закрыть</button>
 </div>

<div id = "undo" style="visibility:hidden">{{tbody|safe}}</div>
<div id = "undostyle" style="visibility:hidden">{{tstyle}}</div>
<div id = "object_id" style="visibility:hidden">{{tid}}</div>
</body>
</html>