<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="/static/js/admin.js"></script>
</head>
<body>
<div style="position: absolute; top : 45px; left : 15px;">
<a href='/designer'>Create new playcast</a></div>


<div id="auth" style="position: absolute; top : 45px; right : 160px; width: 155;">
{{mycode|safe}}</div>


<div style="position: absolute; top : 145px; left : 315px; width : 520px; height : 800px">
<iframe src="/playcast_list" / width="100%" height="100%"></div>
</body>