<head>
<title>{{p.title}} {{noactive}}</title>
<link rel="stylesheet" href="/static/css/edite.css">
<script src="/static/js/audio.min.js"></script>
<script> audiojs.events.ready(function() {var as = audiojs.createAll(); });</script>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
$(function(){
        var theDialog = $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '400',
            height:'100',
        });

})

$( document ).ready(function() {
    $("#myframe")[0].contentDocument.getElementsByTagName('body')[0].innerHTML = $("#mybox")[0].innerHTML;
    //$("#myframe")[0].contentDocument.getElementById('mybox').innerHTML = '';
})
</script>
<script src="/static/js/edite.js"></script>
</head>

<body>
<a href="/">Home page</a>

<h3>"{{p.title}}" author: <a href="/author/{{p.user.id}}/">{{p.user.first_name}} {{p.user.last_name}} {{p.author}}</a></h3>
<br />
<iframe id ="myframe" style="{{p.style}} width : {{p.width}}; height :{{p.height}}; border: none; border: 0; left: 150;"></iframe>
<div id="mybox" style="visibility:hidden">{{p.body|safe}}</div>

<div style="left: 150;"><audio   src="/media/{{p.murl}}" preload="auto" autoplay="true" loop="loop" /></div>
<div>
<br />
Music "{{p.mtitle}}" autor's - {{p.mauthor}} performer - {{p.mperformer}}<br />
{{p.comment}}<br />
last edition {{p.last}}
</div>
<div style="left: 150;"><script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div></div>
<div>{{author|safe}}</div>

<div id='dialog' class="delete">
    <p style = "font:bold;">Delete this is?</p>
    <button onclick="DeletePlayCast({{tid}})">Yes</button> <button onclick='$("#dialog").dialog("close");'>No</button>
</div>

</body>