<head>
<script>
function play(arg){
    parent.document.location.href="/playcast/"+arg;
}
</script>
</head>
<body>
<table>
<tr>
{%for i in L1%}
<td>
<div onclick="play({{i.id}});" class="play" style="border-width:2px; bolder-color: black; width: 235px;height: 165px;background-color:rgb{{i.color1}};">
<span style="index-z: 100; text-align: center; font-size: 14px;color:rgb{{i.color2}};">{{i.title}}</span>
<img src="/media/screen/{{i.id}}.jpg" width="135px" height="135px" >
<span style="position: relative; left : 1px; top: -60px;index-z: 102; text-align: left; font-size: 11px;color:rgb{{i.color2}}">{{i.user}}</span>
<span style="position: relative; left : -70px; top: -40px;index-z: 100; text-align: left; font-size: 11px; color:rgb{{i.color2}}">{{i.datetime|date:"j-M"}}</span>
</span>
</div>
{%endfor%}
</tr>
<tr>
{%for i in L2%}
<td>
<div onclick="play({{i.id}});" class="play" style="border-width:2px; bolder-color: black; width: 235px;height: 165px;background-color:rgb{{i.color1}};">
<span style="index-z: 100; text-align: center; font-size: 14px;color:rgb{{i.color2}};">{{i.title}}</span>
<img src="/media/screen/{{i.id}}.jpg" width="135px" height="135px" >
<span style="position: relative; left : 1px; top: -60px;index-z: 102; text-align: left; font-size: 11px;color:rgb{{i.color2}}">{{i.user}}</span>
<span style="position: relative; left : -70px; top: -40px;index-z: 100; text-align: left; font-size: 11px; color:rgb{{i.color2}}">{{i.datetime|date:"j-M"}}</span>
</span>
</div>
</td>
{%endfor%}
</tr>
</table>
<center>{{links|safe}}</center>
</body>