<head>

<title>{{p.title}} {{noactive}}</title>
<link rel="stylesheet" href="/static/css/edite.css">
{%if mp3%}
<script src="/static/js/audio.min.js"></script>
<script> audiojs.events.ready(function() {var as = audiojs.createAll(); as[0].play();});</script>
{%endif%}
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
$(function(){

        var theDialog = $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: '400',
            height:'100',
        });

})

$( document ).ready(function() {

    $("#myframe")[0].contentDocument.getElementsByTagName('body')[0].innerHTML = $("#mybox")[0].innerHTML;

})
</script>
<script src="/static/js/edite.js"></script>
</head>

<body >

<a href="/">На главную</a>
<div style="position:absolute;right:5px;top: 15px; z-index:9999;">

<center>
<img src="{{url}}" width="75" height={{h}}/><br />
<a href="/author/{{p.user.id}}/">{{p.user.username}}</a>
</center>
</div>
<center>
<h3>"{{p.title}}"  </h3>
<br />

<iframe id ="myframe" style="{{p.style}} width : {{p.width}}; height :{{p.height}};" scrolling="no" frameBorder="0"></iframe>

<div id="mybox" style="visibility:hidden; ">{{body|safe}}</div>
{%if mp3%}
<div style=""><audio   id="audio" src="/media/{{p.murl}}"   loop="loop" /></div>
{%endif%}
<div>
<br />
Музыка  "{{p.mtitle}}" авторы - {{p.mauthor}} исполнитель - {{p.mperformer}}<br />
{{comment}}<br />
последняя редакция {{p.last}}
</div>
<div>{{author|safe}}</div><br/>
<div style="left: 150;"><script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div></div>
</center>
<div id='dialog' class="delete" >
    <p style = "font:bold;">Удалить?</p>
    <button onclick="DeletePlayCast({{tid}})">Yes</button> <button onclick='$("#dialog").dialog("close");'>No</button>
</div>


</body>