<link rel="stylesheet" href="/static/css/edite.css">

<form  action="/upload_music/" enctype="multipart/form-data" method="post">{% csrf_token %}
 <span style="color:red;">{{ form.non_field_errors }}</span>
     <div class="fieldWrapper">
        <span style="color:red;">{{title}}</span><br/>
        <label for="id_subject">Название:</label>
    {{form.title }}
    </div>


     <div class="fieldWrapper">
        <span style="color:red;">{{file}}</span><br/>
        <label for="id_subject">Файл (MP3):</label>
    {{form.file }}
    </div>


     <div class="fieldWrapper">
        <span style="color:red;">{{author}}</span><br/>
        <label for="id_subject">Автор:</label>
    {{form.author }}
    </div>


     <div class="fieldWrapper">
        <span style="color:red;">{{performer}}</span><br/>
        <label for="id_subject">Исполнитель:</label>
    {{form.performer }}
    </div>


     <div class="fieldWrapper">
        <span style="color:red;">{{key_words}}</span><br/>
        <label for="id_subject">Ключевые слова:</label>
    {{form.key_words}}
    </div>


<input type="submit" class="btn-editor" value="Загрузить" />
</form>